asgiref
Django
django-celery-beat
django-celery-results
django-countries
django-formtools
django-otp
django-phonenumber-field
django-two-factor-auth
gunicorn
packaging
pypng
qrcode
sqlparse
typing_extensions
