{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="card shadow-sm p-4">
    <h3 class="card-title">Reset your password below.</h3>
    <hr>

    <!-- Form-level Errors -->
    {% if form.non_field_errors %}
    <div class="row-cols-1">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <!-- Email Field -->
        <div class="row mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
            {{ form.email }}
            {% if form.email.help_text %}
            <div class="container">
                <div class="alert alert-info mt-2">
                    {{ form.email.help_text }}
                </div>
            </div>
            {% endif %}
            {% if form.email.errors %}
            <div class="row-cols-1">
                {% for error in form.email.errors %}
                <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!-- Submit -->
        <div class="row mt-3 justify-content-end g-1">
            <div class="col-auto">
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
