{% extends "base.html" %}

{% block title %}403 Forbidden{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="mb-4">
        <i class="bi bi-x-circle-fill text-danger" style="font-size: 4rem;"></i>
    </div>
    <h1 class="display-5 fw-bold">Permission Denied</h1>
    <p class="lead">
        Looks like you don’t have permission to access this page.<br>
    </p>

    <div class="mt-4">
        <a href="{% url 'home' %}" class="btn btn-primary btn-lg">
            Back to App Selector
        </a>
    </div>
</div>
{% endblock %}
