{% extends 'base.html' %}

{% block title %}Chores Home{% endblock title %}

{% block content %}
<h1 class="mb-0 mt-2">The Chart</h1>
<div class="container-fluid p-2 border rounded">
    <ul class="nav nav-tabs" id="charTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="current-chores-tab" data-bs-toggle="tab" data-bs-target="#current-chores-tab-pane" role="tab" aria-controls="current-chores-tab-pane" aria-selected="true">Current Chores</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="previous-assignments-tab" data-bs-toggle="tab" data-bs-target="#previous-assignments-tab-pane" role="tab" aria-controls="previous-assignments-tab-pane" aria-selected="false">My Previous Assignments</a>
        </li>
    </ul>
    <div class="tab-content p-2" id="myTabContent">
        <div class="tab-pane fade show active" id="current-chores-tab-pane" role="tabpanel" aria-labelledby="current-chores-tab" tabindex="0">
            <div class="card mt-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">My Chores</h5>
                    <span class="badge bg-{% if overdue_task_count > 1 %}danger{% else %}success{% endif %}">{{overdue_task_count}} Overdue</span>
                </div>
                <ul class="list-group list-group-flush">
                    {% for chore in my_assignments %}
                    <li class="list-group-item d-flex justify-content-between align-items-center{% if chore.overdue %} bg-danger text-white{% endif %}">
                            <div class="col-md-8">
                                <i class="bi bi-patch-question-fill" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{chore.description}}"></i>
                                <strong>{{chore.title}}</strong> ({{chore.due_by}})
                            </div>
                            <div class="col-md-2 text-end">
                                <form method="post" action="{% url 'chores:user_task_mark_complete' chore.pk %}">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-sm btn-success" value="Mark Complete" />
                                </form>
                            </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item text-muted">All chores completed. Excellent work!</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="mb-0">My Schedules</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for order in user_chore_schedules %}
                    {% if order.status == 'Complete' %}
                    <li class="list-group-item bg-success-subtle">
                        <div class="d-flex justify-content-between align-items-center">
                        <span>
                            <strong>{{ order.title }}</strong><br>
                            Completed On: {{ order.task_date }}<br>
                            Assigned To: {{ order.assigned_to.first_name }}
                        </span>
                            <a href="{% url 'chores:chore_schedule_detail' order.pk %}" class="btn btn-sm btn-primary">
                                View
                            </a>
                        </div>
                    </li>
                    {% elif order.status == 'Overdue' %}
                    <li class="list-group-item bg-danger-subtle">
                        <div class="d-flex justify-content-between align-items-center">
                        <span>
                            <strong>{{ order.title }}</strong><br>
                            Overdue Since: {{ order.task_date }}<br>
                            Assigned To: {{ order.assigned_to.first_name }}
                        </span>
                            <a href="{% url 'chores:chore_schedule_detail' order.pk %}" class="btn btn-sm btn-primary">
                                View
                            </a>
                        </div>
                    </li>
                    {% else %}
                    <li class="list-group-item bg-info-subtle">
                        <div class="d-flex justify-content-between align-items-center">
                        <span>
                            <strong>{{ order.title }}</strong><br>
                            Next Due: {{ order.task_date }}<br>
                            Assigned To: {{ order.assigned_to.first_name }}
                        </span>
                            <a href="{% url 'chores:chore_schedule_detail' order.pk %}" class="btn btn-sm btn-primary">
                                View
                            </a>
                        </div>
                    </li>
                    {% endif %}
                    {% empty %}
                    <li class="list-group-item text-muted">You're not in any schedules yet.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="previous-assignments-tab-pane" role="tabpanel" aria-labelledby="previous-assignments-tab" tabindex="0">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Chore Assignments</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead>
                            <tr>
                                <th>Chore</th>
                                <th>Complete?</th>
                                <th>Due By</th>
                                <th>Overdue?</th>
                                <th>Completed By</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for assignment in previous_assignments %}
                            <tr>
                                <td>
                                    {{ assignment.schedule_task.schedule.chore.title }}
                                </td>
                                <td>
                                    {% if assignment.is_complete %}
                                    <span class="text-success fw-bold">✓</span>
                                    {% else %}
                                    <span class="text-muted">Pending</span>
                                    {% endif %}
                                </td>
                                <td>{{ assignment.due_by|date:"M j, Y" }}</td>
                                <td>
                                    {% if assignment.overdue %}
                                    <span class="text-danger fw-bold">Yes</span>
                                    {% else %}
                                    <span class="text-success">No</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if assignment.is_complete %}
                                    {% if assignment.completed_by == request.user %}
                                    Me
                                    {% else %}
                                    {{ assignment.completed_by }}
                                    {% endif %}
                                    {% else %}
                                    <i class="bi bi-dash-lg"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No chore assignments found.</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
<!--                <ul class="list-group list-group-flush">-->
<!--                    {# for  in  #}-->
<!--                    <li class="list-group-item d-flex justify-content-between align-items-center">-->

<!--                    </li>-->
<!--                    {# empty #}-->
<!--                    <li class="list-group-item text-muted"></li>-->
<!--                    {# endfor #}-->
<!--                </ul>-->
            </div>
        </div>
    </div>
</div>

{% endblock content %}