{% extends 'base.html' %}

{% block content %}
<h1>Assignments</h1>
<div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Chore</th>
                <th>Task</th>
                <th>Status</th>
                <th>Assigned To</th>
                <th>Due</th>
                <th>Completed On</th>
                <th>Completed By</th>
            </tr>
        </thead>
        <tbody>
            {% for task in usertask_list %}
            <tr>
                <td>{{ task.schedule_task.schedule.chore.title }}</td>
                <td>{{ task.schedule_task.name }}</td>
                <td{% if task.is_complete %} class="table-success">Complete{% elif task.is_incomplete %} class="table-danger">Incomplete{% elif task.overdue %} class="table-warning">In Progress - Overdue{% else %} class="table-info">In Progress{% endif %}</td>
                <td>{{ task.user.first_name }}</td>
                <td>{{ task.due_by }}</td>
                <td>{% if task.is_complete %}{{ task.completed_on|date:"M j, Y" }}{% else %}<i class="bi bi-dash-lg"></i>{% endif %}</td>
                <td>{% if task.is_complete %}{{ task.completed_by }}{% else %}<i class="bi bi-dash-lg"></i>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}